---
// Comments via giscus (GitHub Discussions). Requires the giscus GitHub
// App (https://github.com/apps/giscus) installed on this repo. Each post
// maps to a Discussion in the "Announcements" category by pathname.
---
<section class="comments">
	<script
		is:inline
		src="https://giscus.app/client.js"
		data-repo="Kallin/kallin.github.io"
		data-repo-id="MDEwOlJlcG9zaXRvcnkzNzg3OTE2Nw=="
		data-category="Announcements"
		data-category-id="DIC_kwDOAkH9f84C-c09"
		data-mapping="pathname"
		data-strict="0"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="bottom"
		data-theme="preferred_color_scheme"
		data-lang="en"
		data-loading="lazy"
		crossorigin="anonymous"
		async
	></script>
</section>
<style>
	.comments { max-width: 720px; margin: 3rem auto 0; padding: 0 1em; }
</style>
