---
layout: post
title: "Kal's Notes: The Art of Agile Development, 2nd Edition"
tags: mgmt tech agile kals_notes
---

<h1>
    Summary
</h1>

<ol>
    <li>
        Section 1 - Improving Agility
        <ol>
            <li>
                <h2>What is Agile?</h2>
                <ul>
                    <li>
                        Here are some thoughts
                    </li>
                    <li>
                        Here are some more thoughts!
                    </li>
                </ul>
            </li>
        </ol>
    </li>
</ol>

<p>
    This book is pretty great
</p>

<p>
    This book is pretty great
</p>