---
layout: post
title:  "Remotely Debugging Ruby in Docker"
tags: dev productivity
---



<p>
    With the recent release of the well received WSL2, I was curious to see if I could get my preferred ruby
    development
    environment up and running on my Windows 10 Desktop.
</p>

<p>
    How's this gonna work?
</p>

<p>
    Can I insert some code here?
</p>

<code>
    {% highlight ruby %}
        def foo
        puts 'foo'
        end
    {% endhighlight %}
</code>

<a href="https://github.com/Kallin/hello-ruby">Da Project</a>
