---
layout: post
title:  "Remotely Debugging Ruby in Docker"
tags: dev productivity
---

Hi there, I'm writing a post!

How's this gonna work?

Can I insert some code here?

{% highlight ruby %}
    def foo
    puts 'foo'
    end
{% endhighlight %}

<a href="https://github.com/Kallin/hello-ruby">Da Project</a>
