<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>*Happy Campers*</title>

    <meta name="description" content="Hello to our *house*.">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="/assets/css/tailwind.css">
</head>

<body>

<!--[if lte IE 9]>
<p class="browserupgrade">
    You are using an <strong>outdated</strong> browser.
    Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
</p>
<![endif]-->


<script src="/assets/js/modernizr-custom.js"></script>
<script src="/assets/js/underscore-min.js"></script>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/test.js"></script>

<section class="page-header">
    <h1 id="project-name" class="text-xl">{{ site.title | default: site.github.repository_name }}</h1>
    <h2 id="project-tagline" class="invisible opacity-0 text-lg">placeholder</h2>
</section>

<section class="main-content">
    {{ content }}
</section>

</body>

</html>
