<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>*Happy Campers*</title>

    <meta name="description" content="Hello to our *house*.">

    <link rel="stylesheet" href="/assets/css/tailwind.css">
</head>

<body class="bg-blue-100">
<script src="/assets/js/quotes.js"></script>

<section class="bg-gray-300">
    <h1 id="project-name" class="text-3xl">{{ site.title | default: site.github.repository_name }}</h1>
    <h2 id="project-tagline" class="invisible opacity-0 text-lg">placeholder</h2>
</section>

<section class="bg-green-100">
    {{ content }}
</section>

</body>

</html>
