<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <title>Title of the document</title>

    <link rel="stylesheet" href="/assets/css/styles.css">

</head>

<body>


<script src="/assets/js/underscore-min.js"></script>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/test.js"></script>

<section class="page-header">
    <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline"></h2>
</section>

<section class="main-content">
    {{ content }}
</section>

</body>

</html>
