<!doctype html>
<html class="no-js text-gray-500 antialiased" lang="en-us" >

{% comment %}Let's do it up like this: https://release.mozilla.org/ {% endcomment %}

<head>

    {% if jekyll.environment == 'production' %}
        {% include analytics.liquid %}
    {% endif %}

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>*Happy Campers*</title>

    <meta name="description" content="Hello to our *house*.">

    <link rel="stylesheet" href="/assets/css/tailwind.css">

</head>

<body class="min-h-screen">
<script src="/assets/js/quotes.js"></script>


<nav class="border-b sticky top-0 z-40 lg:z-50 w-full mx-auto bg-white flex-none flex bg-white">
    <div class="sticky top-0 z-40 lg:z-50 w-full max-w-6xl mx-auto bg-white flex">
        <div>
            <div class="border-gray-300 my-2 border-4 border-solid h-20 w-20 flex items-center justify-center shadow-2xl">
                <img src="/assets/img/orz_logo.jpeg">
            </div>
        </div>

        <div id="header-left "class="flex-col">
            <div>
                {{ site.title }}
            </div>
            <div>
                Musings by Kallin Nagelberg
            </div>
        </div>

        <div id="header-right">
            <a href="{{ site.url }}">
                <h1 id="project-name" class="text-3xl">{{ site.title | default: site.github.repository_name }}</h1>
            </a>
            <h2 id="project-tagline" class="invisible opacity-0 text-lg">placeholder</h2>
        </div>
    </div>
</nav>

<div class="w-full max-w-6xl mx-auto bg-white flex-none flex rounded-xl mt-4">
    <div>
        {{ content }}
    </div>
</div>


</body>

</html>
