<!doctype html>
<html class="no-js text-gray-500 antialiased" lang="en-us" >

{% comment %}Let's do it up like this: https://release.mozilla.org/ {% endcomment %}

<head>

    {% if jekyll.environment == 'production' %}
        {% include analytics.liquid %}
    {% endif %}

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>*Happy Campers*</title>

    <meta name="description" content="Hello to our *house*.">

    <link rel="stylesheet" href="/assets/css/tailwind.css">

</head>

<body class="min-h-screen">
<script src="/assets/js/quotes.js"></script>


<nav class="sticky top-0 z-40 lg:z-50 w-full mx-auto bg-white flex-none flex bg-white">
    <div class="sticky top-0 z-40 lg:z-50 w-full max-w-6xl mx-auto bg-white flex-none flex">
        <div class="flex-none pl-4 sm:pl-6 xl:pl-8 flex items-center border-gray-200 lg:border-b-0 lg:w-60 xl:w-72">
            LOGO
        </div>

        <div class="flex-auto border-gray-200 h-18 flex items-center justify-between px-4 sm:px-6 lg:mx-6 lg:px-0 xl:mx-8">
            The Rest
        </div>

        <div>
            <a href="{{ site.url }}">
                <h1 id="project-name" class="text-3xl">{{ site.title | default: site.github.repository_name }}</h1>
            </a>
            <h2 id="project-tagline" class="invisible opacity-0 text-lg">placeholder</h2>
        </div>
    </div>
</nav>

<div class="w-full max-w-6xl mx-auto bg-white flex-none flex rounded-xl mt-4">
    <div>
        {{ content }}
    </div>
</div>


</body>

</html>
